@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

nav {
    grid-area: nav;
    background-color: #2196F3;
    color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

section {
    grid-area: section;
    background-color: #b1b0b0;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-y: auto;
}

footer {
    grid-area: footer;
    background-color: #E0E0E0;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-principal {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 10fr 1fr;
    grid-template-areas:
        "nav"
        "section"
        "main"
        "footer";
    height: 100vh;
}

/* nombre del sitio en Nav */
.dato-principal {
    display: flex;
    justify-content: space-evenly;
}

.nombre-centro {
    font-weight: 600;
    padding-left: 0.5rem;
    text-align: center;
}

.icono {
    background-color: #0037a1;
    color: white;
    border: none;
}

.dog-mov-2xs {
    display: contents;
}

.dog-mov-sm {
    display: none;
}

.dog-mov-xl {
    display: none;
}


.dog-mov {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
    position: relative;
    animation: movement 5s infinite;
}

@keyframes movement {
    0%, 100% {
        left: 0px;
        color: rgb(196, 81, 178);
    }
    50% {
        left: 80px;
        color: rgb(24, 45, 181);
    }
}

/* menu hamburguesa */
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* items del menu */
#menu ul li {
    background-color: #2e518b;
}

/* enlaces del menu */
#menu ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 100;
    font-size: 9px;
}

/* items del menu */
#menu ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

/* efecto al pasar el ratón por los items del menu */
#menu ul li:hover {
    background: #5b78a7;
}


/* menu desplegable */
#menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #eee;
    padding: 0;
}

/* items del menu desplegable */
#menu ul ul li {
    float: none;
    width: 150px
}

/* enlaces de los items del menu desplegable */
#menu ul ul a {
    line-height: 100%;
    padding: 10px 15px;
}

/* items del menu desplegable al pasar el ratón */
#menu ul li:hover>ul {
    display: block;
}

.menu-lateral {
    display: none;
}

li a {
    color: beige;
    text-decoration: none;
}

li a:hover {
    font-size: 15px;
    color: rgb(148, 208, 27); 
    border-bottom: 0px solid;
    background: #241596;
}

.lista-select {
    width: 7rem;
}

/* Tarjeta con la imagen de la mascota */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #4CAF50 ;
    border: 1px solid gray;
    height: 24rem;
    width: 18rem;
    box-shadow: 7px 7px 12px rgba(20, 20, 20, 0.3);
    margin: 1rem 1rem;
}

.img-mascota {
    height: 40%;
    width: 50%;
}

.img-mascota:hover {
    height: 60%;
    width: 80%;
    border-radius: 10%;
}

.txt-mascota {
    font-size: 1.2rem;
}

.btn-ver {
    background-color: #FF9800;
    color: white;
    height: 3rem;
    width: 6rem;
    border-radius: 20px;
}

.btn-ver:hover {
    font-size: 15px;
    width: 7rem;
    background-color: #b4730a;
}

.iconos-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.txt-footer {
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
}

.color-icono{
    color: #2196F3;
}


/* TABLET */

@media ((width >= 576px) and (width < 992px)) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;
        font-style: normal;
    }
    
    .container-principal {
        display: grid;
        grid-template-columns: 1fr 9fr;
        grid-template-rows: 1fr 12fr 1fr;
        grid-template-areas:
            "nav nav"
            "section main"
            "footer footer";
        height: 100vh;
    }

    section {
        justify-content: center;
        align-items: center;
    }

    section div p {
        padding-bottom: 2rem;
        font-weight: 400;
    }
    .container-nav {
        display: flex;
        justify-content: space-between;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .menu-superior {
        display: none;
    }

    .nombre-centro {
        font-size: 1.5rem;
        text-align: center;
    }

    .dog-mov-2xs {
        display: none;
    } 

    .dog-mov-xl {
        display: none;
    }

    .dog-mov-sm {
        display: contents;
    }


    .dog-mov {
        display: flex;
        flex-direction: column;
        gap: 35px;
        padding-top: 10px;
        position: relative;
        animation: movement 8s infinite;
    }

    @keyframes movement {
        0%,
        100% {
            left: 0px;
            color: rgb(226, 114, 209);
        }

        50% {
            left: 80%;
            color: rgb(163, 24, 181);
        }
    }

    .menu-lateral {
        display: flex;
    }

    .lista-menu-lateral {
        display: flex;
        list-style: none;
        font-size: 1rem;
        gap: 1rem;
    }

    .lista-select {
        width: 6rem;
    }

    section select option{
        font-size: 10px;
    }
    
    .grilla-pdtos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
        gap: 1rem;
        padding-top: 1rem;
    }

    .card {
        width: 18rem;
    }

    .txt-footer {
        font-size: 1.1rem;
    }
}


/* MEDIA QUERIES PARA ESCRITORIO*/
@media (width >= 992px) {
    * {
        margin: 0;
        padding: 0;
        font-size: 62,5%;
    }

    .container-principal {
        display: grid;
        grid-template-columns: 8rem 1fr;
        grid-template-rows: 1fr 12fr 1fr;
        grid-template-areas:
        "nav section"
        "nav main"
        "footer footer";
        height: 100vh;
    }
    
    .dato-principal {
        padding-top: 3rem;
    }
    
    .container-nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 3rem;
    }

    /* Menú de Navegación - Hamburguesa Mobile */
    .menu-superior {
        display: none;
    }

    /* Menú de Navegación - Tablet y Escritorio */
    .menu-lateral {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .lista-menu-lateral {
        list-style: none;
        font-size: 1rem;
    }

    .lista-menu-lateral li {
        padding-bottom: 1rem;
    }

    .nombre-centro {
        font-size: 1rem;
    }

    .dog-mov-2xs {
            display: none;
        }
    
    .dog-mov-sm {
            display: none;
        }

    /* .dog-mov-xl {
        display: contents;
    } */


   .dog-mov-xl {
       display: flex;
       flex-direction: column;
       gap: 35px;
       padding-top: 20px;
       position: relative;
       animation: movement 8s infinite;
   }

   @keyframes movement {

       0%,
       100% {
           left: 0px;
           color: rgb(226, 114, 209);
       }

       50% {
           left: 80%;
           color: rgb(163, 24, 181);
       }
   }


    .grilla-pdtos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: space-evenly;
        gap: 1rem;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid gray;
        height: 16rem;
        width: 15rem;
        box-shadow: 7px 7px 12px rgba(20, 20, 20, 0.3);
    }

    .img-mascota {
        height: 40%;
    }

    .img-mascota:hover {
        height: 60%;
        width: 70%;
        border-radius: 10%;
    }

    .txt-auto {
        font-size: 1.2rem;
    }

    .btn-ver {
        background-color: #FF9800;
        color: white;
        height: 2rem;
        width: 5rem;
        border-radius: 20px;
    }

    .txt-footer {
        font-size: 0.8rem;
        text-align: center;
        padding-top: 0.5rem;
    }
}